{{extend 'layout.html'}}
<script type="text/javascript">
setInterval(test1,1000);
var a=1;

function test1()
{  
   a=a+1;
	

       ajax('{{=URL('get_host_status')}}',['q'],'target1');
       document.getElementById('target2').innerHTML=a;
   
}

function test()
{
	var c='';
        ajax('/baadal/admin/setup_host',['q'],'target');    
}

</script>

<form>
<INPUT type="text" id="q" name = "q" value="web2py"/>
<INPUT type="button" value="submit"
      onclick="test();"/>
</form>
<br/>

<div id="target"></div>
<br/>
<br/>
<br/>
<textarea rows="20" cols="50" readonly=true>
<div id="target1" ></div>
</textarea>
<br/>
<br/>
<br/>
<div id="target2"></div>
