{{extend 'layout.html'}}
<h3>Baadal Leaks</h3>
{{if not errors:}}
    <center> Chill out, No Errors.</center>
{{else:}}
    <table>
      <tr>
        <th>ID</th>
        <th>Error</th>
        <th>Progess</th>
      </tr>
      {{for error in errors:}}
          <tr>
            <td>{{=error.id}}</td>
            <td>{{=error.error}}{{#=A(error.error.split('/')[7],_href=error.error)}}</td>
            <td>
              {{=A('Solved?',_href=URL(r=request,f='error_solved',args=[error.id]))}}
            </td>
          </tr>
      {{pass}}
    </table>
{{pass}}
