{{extend 'layout.html'}}

<div class="justify">
    <h2>Baadal Documentation</h2>
<p>
Baadalcse is an academic cloud developed by IIT-Delhi responsible for providing virtual machines to the user on demand. The detailed description of this academic cloud is available <a href="/cloud/static/images/baadal.pdf">here</a>. It is built on <b>Web2py Web Framework</b>, an open source full-stack framework for rapid development of fast, scalable, secure and portable database-driven web-based applications, written and programmable in Python. The entire documentation of the framework is available <a href="https://web2py.com/book">here</a>.
</p>
<h3>System Design</h3>
<p><img border="0" src="/cloud/static/images/Figure-1.jpg" alt="Figure-1" align="middle" width="450" height="250" /></p>
<p>
As shown in the above figure, this framework deploys <b>Model–View–Controller(MVC)</b>, a type of computer user interface that separates the representation of information from the user's interacting with it. The <i>Model</i> consists of application data and computation rules, the <i>Controller</i> mediates input, converting it to commands for the model or view and the <i>View</i> can be any output representation of data, such as text or a chart or a diagram. This architecture focuses on code re-usability and separation of concerns.
</p>
<p><b>Example- </b>To understand how MVC works, we depict the working of a simple calculator. As shown in figure below, the user input(any set of digits or operations) to <i>View</i> are updated by <i>Controller</i>. The <i>Model</i> then acts on this update and performs appropriate computation and sends teh updated content back to <i>Controller</i>, which forwards it to <i>View</i> and the user sees the update.</p>
<p><img border="0" src="/cloud/static/images/calc.jpg" alt="Figure-1" align="middle" width="450" height="195" /></p>
<p>
Baadalcse, apart from MVC, provides an <b>Asynchronous Background Processes</b>(<i>process.py</i>) to serve the requests that are queued. Web2py framework provides for three methods of implementing such processes: cron, homemade task queues and scheduler. Baadalcse's design implements <i>Homemade Task Queues</i>, details of which are available <a href="http://web2py.com/book/default/chapter/04#Homemade-task-queues">here</a>.
</p>
<h4>Views</h4>
<p>This block is responsible for all the changes that appear on the GUI, it mediates with the help of Controller and updates the computation done by Model.  In other words, View coordinates with Model to perform authentication checks and fetch data, with the help of Controller. Initially Web2py directs the first incoming request to <i>index.html</i>, residing in the <i>default</i> directory and then operates accordingly. 
</p>
<p>View provides for a default, a user panel, an admin panel and a vm-panel.</p>
<h4>Controllers</h4>
<p>This block is dedicated towards the interfacing of View(or user) with Model(or data computation). To mediate the interface this block updates the task queues, virtual machine tables, request tables, etc. The format of these tables is mentioned in Model(<i>db.py</i>). It also fetches the data present in the database(the same data is updated by the Model after computation) and sends it to Model for computation of results, which are conveyed to the user in-order to cater to his request.</p>
<p>Controller consists of three major files: admin.py, default.py & vmuser.py.</p>
<p><i>Admin.py</i> is responsible for handling authorizations during login and requests, switching between administrator and user panels, synchronization with <i>Ldap and kerbose</i>, updating task queues, updating request tables, virtual machine table, etc. Minor modifications in <i>ifModerator()</i> function can be made in order to make someone administrator. It interfaces with Model at times to compute data, especially when a request form is filled to perform data consistency check. It derives tables from the data present in the database and displays them when asked by the administrator.</p>
<p><i>Default.py</i> is responsible for sending error emails, requesting templates, assigning appropriate message when Baadalcse is not working or is under maintenance, etc.</p>
<p><i>Vmuser.py</i> is responsible for the listing tables requested by user, updating current cost of their machines and mediating with Model to changelevel, suspend machine, etc. This module is dedicated to mediate, any request related to the virtual machine, with the Model.</p>
<p><b>Figure below depicts the flow of control between MVC at the time of Vm creation request made by the user.</b></p>
<p><img border="0" src="/cloud/static/images/authorization_request.jpg" alt="Figure-3" align="middle" width="450" height="265" /></p>
<h4>Models</h4>
<p>This block is dedicated towards the computing and updating of data, providing functionalities to cater the requests made by the user. Majorly, the functions are called by the background asynchronous process(<i>private/process.py</i>) to serve the request pending in the Task Queue.
</p>
<p>
Model consists of three major files: admin.py, db.py, function.py, vm.py, hostfunction.py and sanity.py.
</p>
<p><i>Admin.py</i> is responsible for installing a new or a clone vm on a remote host when requested by the user. It uses <a href="http://www.linuxproblem.org/art_9.html">password-less</a> ssh(secure server connection) commands to communicate with remote server where with the help of <b>Libvirt</b> commands it simulates a vm of the desired templade and resources. Documentation of Libvirt, virsh command, is available <a href="http://wiki.libvirt.org/page/Main_Page">here</a>.</p>
<p><i>Db.py</i> consists of the format of tables and also specifies the password of the database. The table’s format is self-sufficient in defining a database(i.e, compulsory initial values have been specified).</p>
<p><i>Function.py</i> is responsible for computing the flags, authentications and conditions prevalent durin the execution of system. It checks for appropriate data required to create a vm, current run level of a vm, authenticating logins, performing data consistency and redundancy checks, computing host resources used, mailing to the users about vm creation, etc. It also consists of scheduling algorithms in order to compute the most appropriate host for vm creation and resource management.</p>
<p><i>Vm.py</i> is responsible for serving the requests related to the vm of the user. For example: starting a vm, shutting it down, changing the run level, migrate a vm, etc. Baadalcse deploys Libvirt commands to perform all these operations.</p>
<p><i>Hostfunction.py</i> is responsible for the operations performed on the host. This constitutes checking the status of host, deleting dead vm’s, checking running vm’s and putting host in maintenance mode.
Sanity.py provides for host’s sanity(running and non-running domains) status check. 
</p>
<p><b>Figure below depicts the flow of control between MVC & SQL Database at the time of (Vm creation) request made by the user.</b></p>
<p><img border="0" src="/cloud/static/images/Request_approval.jpg" alt="Figure-5" align="middle" width="650" height="275" /></p>
<h4>Databases</h4>
<p>Baadalcse's storage consists of VM Template datastore, Installed VM Directory Datastore and SQL Datastore.
<ul><li> VM Template & VM Directory database is present on <i>Filer01</i> and is required to be mounted on Baadalcse and all the remote hosts(<i>/mnt/baaadalcse</i>). <i>Vm_template</i> directory contains of the template images of the available OS’s provided by Baadalcse. Installed VM Directory contains directories named after the VM's whose template they store.</li>
<li>The SQL Database contains of tables and other data is present on apache2 server. The format of teh tables is mentioned in <i>models/db.py</i> and provide for task queues and parameter storage. These task queues and parameters are later modified by models & controllers to server variant functionalities.</li>
<li>Web2py also logs each session as soon as application is called. If web2py is unable to access and write the log it issues Ticket: Unrecoverable. This can occur if the web2py admin lacks appropriate permissions(<i>ownership as www-data</i>) OR does not have enough space to write a new log.</li></ul>
</p><p><b>Note: </b>The tables are interfaced asynchronously through apache servers and any changes made manually to the tuples in the database will create inconsistency.</p>
<h4>Private</h4>
<p>This block is dedicated towards the asynchronous background process that serves the requests made by the user. It also performs regular checks on host power and status as an additional function.
</p>
<p>Private consists of process.py and hostpower.py.</p> 
<p><i>Process.py</i> picks up requests pending the task queues, serves all the pending requests and goes idle until next request enters. During this idle period, it scans for a new request with a delay provided by a counter(delay of 1000 iterations), which can be changed for efficiency in accordance to the load.</p> 
<p><i>Hostpower.py</i> is responsible for host status checks in a similar manner.</p>
<p><b>The control flow of Baadalcse is shown in figure below, here the request for installation of a new vm is being served, a similar flow can be observed for any other request made by the user.</b></p>
<p><img border="0" src="/cloud/static/images/Figure-2.jpg" alt="Figure-2" align="middle" width="680" height="420" /></p>
<h4>Remote Hosts</h4>
<p>Baadalcse runs on the resources provided by blade servers. These remote servers are responsible for providing bridges(<i>brctl</i>) to vm’s for networking and other resources to flourish. Initially the host’s keys(password-less ssh) are to Baadalcse as known hosts for ease of use. (To perform this you should be logged in as www-data not as root on Baadalcse). Once the keys have been added the host can be added to the system. To synchronize hosts with Baadalcse run <a href="/cloud/static/images/setup.sh">setup.sh</a> on the host. </p>
<h4>VM Template</h4>
<p>Baadalcse implements .qcow2 template format in order to simulate virtual environment. A <i>Qcow2</i> image can be assumed to me a disk partition capable of expanding in accordance with the usage and consists of appropritate installed packages and filesystem required to simulate the VM. One method of creating a qcow2 image from an iso, is to mount and install the iso on VMware Player, install all the packadeg and convert the .vmdk format given by the player into .qcow2. Another method of obtaining qcow2 format is to follow the same steps on commandline.</p>
<h4>Errors</h4>
<p>Web2py produces <i>Tickets</i> pertaining to any error condition while execution and logs of the ticket generated can be found in the directory <i>/errors</i>. These logs provide appropriate information regarding the erroneous code segment. The same can be acheived by logining into <i>Web2py Admin Console</i> from the browser.</p>

<h4>Other Information</h4>
<p><b>Dead Migration: </b> Under low-load VM migration, baadalcse deploys live migration, using libvirt. The process of live migration is depicted in the figure below.
<img border="0" src="/cloud/static/images/live_migrate.jpg" alt="Figure-7" align="middle" width="680" height="430" /></p>
<p>
<i>But</i> in case of high-load VM migration, libvirt fails to migrate the vm from one host to other pertaining to the high frequency of dirtied pages which cannot be catered while the VM is running. An easy solution to this problem is <i>Dead Migration</i> where we first suspend the VM and then copy the XML to simulate it on destination host, as can be inferred from the figure below.
<p><img border="0" src="/cloud/static/images/dead_migrate.jpg" alt="Figure-6" align="middle" width="680" height="480" /></p>
</p>
<p><b>Permissions: </b> While working on Baadalcse care should be taken regarding the following permissions:
<ul><li>While adding Hosts to the system, one must be logged in as www-data(not root).</li>
<li>Web2py admin's directory should have www-data ownership(not root) in order to access and modify session logs.</li>
</ul>
</p>
<p><b>Miscellaneous Info's: </b> 
<ul><li>While creating VM through commandline check if the bridge(<i>br0</i>) is working.</li>
<li>In case of Networking Disability, from remote host's side, try restarting the host.</li>
<li>There should be enough space in Baadalcse partition(<i>/dev/sda1</i>) to write session logs.</li>
<li>There should be no inconsistency in SQL Database.</li>
</ul></p>
<h4>Installation of Baadalcse</h4>
<p>The installation manual for baadalcse is available <a href="/cloud/static/images/installation.pdf">here</a>.
</p>
</div>
